aboutUs.aboutUs
    .container
        .aboutUs__top
            .aboutUs__text ABOUT US
            hr.aboutUs__line
            .aboutUs__info Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
    .container
        .aboutUs__middle
            .aboutUs__leftInfo.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor et dolore aliquyam erat.
                Lorem ipsum dolor sit amet. Lorem ipsum eat.
            .aboutUs__rightInfo.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor et dolore aliquyam erat.
                Lorem ipsum dolor sit amet. Lorem ipsum eat.
    .container
        .aboutUs__bottom
            .aboutUs__member1
                .aboutUs_pics
                    .aboutUs__member1__img
                        .links
                            a.fa.fa-facebook(href="#", aria-hidden="true")
                            a.fa.fa-twitter(href="#" , aria-hidden="true")
                            a.fa.fa-google-plus(href="#" , aria-hidden="true")
                            a.fa.fa-linkedin(href="#", aria-hidden="true")
                            button.fa.fa-angle-left(type="button", aria-hidden="true")
                .aboutUs__member__name MD. KHALIL UDDIN
                .aboutUs__member__post Head of Ideas
            .aboutUs__member2
                .aboutUs__pics
                    .aboutUs__member2__img
                        .links
                            a.fa.fa-facebook(href ="#", aria-hidden="true")
                            a.fa.fa-twitter(href = "#", aria-hidden="true")
                            a.fa.fa-google-plus(href = "#", aria-hidden="true")
                            a.fa.fa-linkedin(href = "#", aria-hidden="true")
                .aboutUs__member__name RUBEL MIAH
                .aboutUs__member__post Lead WordPress Developer
            .abouUs__member3
                .aboutUs__pics
                    .aboutUs__member3__img
                        .links
                            a.fa.fa-facebook(href ="#", aria-hidden="true")
                            a.fa.fa-twitter(href = "#", aria-hidden="true")
                            a.fa.fa-google-plus(href = "#", aria-hidden="true")
                            a.fa.fa-linkedin(href = "#", aria-hidden="true")
                .aboutUs__member__name SHAMIM MIA
                .aboutUs__member__post Sr. Web Developer
            .aboutUs__member4
                .aboutUs__pics
                    .aboutUs__member4__img
                        .links
                            a.fa.fa-facebook(href ="#", aria-hidden="true")
                            a.fa.fa-twitter(href = "#", aria-hidden="true")
                            a.fa.fa-google-plus(href = "#", aria-hidden="true")
                            a.fa.fa-linkedin(href = "#", aria-hidden="true")
                            button.fa.fa-angle-right(type="button", aria-hidden="true")
                .aboutUs__member__name JOHN DOE
                .aboutUs__member__post Front-end Developer