blogs.blogs
    .blogs__bg
        .container
            .blogs__top
                .blogs__centered
                    .blogs__text Do you like OUR WORK so far?
                    .blogs__about Let's talk about YOUR PROJECT!
                    a.button.button--blogs__btn.button--text-upercase(href="#") GET IN TOUCH
    .container
        .blogs__middle
            .blogs__middle__title
                .blogs__text__title RECENT BLOG POSTS
                hr.blogs__line
                .blogs__text__about Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
    .container
        .blogs__bottom
            .blogs__list
                .blogs__item__one
                    .blogs__image
                        img.blogs__picture(src="../images/blogs1.png" alt="picture")
                    .blogs__info
                        .blogs__top__title
                            .blogs__date
                                .blogs__date__num 18
                                .blogs__date__month OCT
                            .blogs__title__info
                                a.blogs__title__info__text(href="#") STARTUP IDEAS NEEDS TO BE FOUNDED
                                .blogs__title__info__author By Khalil Uddin in Development
                        .blogs__middle__text.
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua.
                            At vero eos et accusam et justo duo dolores et erebum.
                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam
                        a.blogs__bottom__text(href="#") READ MORE
                .blogs__item__two
                    .blogs__image
                        img.blogs__picture(src="../images/blogs2.png" alt="picture")
                    .blogs__info
                        .blogs__top__title
                            .blogs__date
                                .blogs__date__num 18
                                .blogs__date__month OCT
                            .blogs__title__info
                                a.blogs__title__info__text(href ="#") USER INTERFACE DESIGNING ELEMENTS
                                .blogs__title__info__author By Khalil Uddin in Development
                        .blogs__middle__text.
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua.
                            At vero eos et accusam et justo duo dolores et erebum.
                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam
                        a.blogs__bottom__text(href="#") READ MORE

