clients.clients
.clients__bg
    .container
        .clients__block
            img.clients__img(src="../images/clients_logo.png" alt ="clients_img")
            .clients__text.
                Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                Temporibus autem quibusdam et aut officiis debitis aut rerum”
            .clients__head__text John Doe, Google Inc.
            .clients__circles
                .circle
                .circle
                .circle