contactUs.contactUs
    .container
        .contactUs__top
            .contactUs__head__text GET IN TOUCH
            hr.contactUs__line
            .contactUs__about__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
    .container
        .contactUs__bottom
            .contactUs__address__block
                .contactUs__address
                    i.fa.fa-map-marker(aria-hidden="true")
                    .contactUs__title ADDRESS
                    .contactUs__text 312, 7th Ave, New York
                    .contactUs__text NY 101200, United States of America
                .contactUs__phone
                    i.fa.fa-mobile-phone(aria-hidden="true")
                    .contactUs__title HOTLINE(24X7)
                    .contactUs__text +65 0052 300, +65 88251 210
                    .contactUs__text +88 01723 511 340
                .contactUs__email
                    i.fa.fa-envelope-o(aria-hidden="true")
                    .contactUs__title E-MAIL
                    .contactUs__text shapedtheme@gmail.com
                    .contactUs__text khalilkode@gmail.com
            .contactUs__info__block
                .contactUs__info__top
                    .contactUs__info__block__top
                        input.name__text(type="text", placeholder="YOUR NAME")
                        input.email__text(type="text", placeholder="YOUR EMAIL")
                    .contactUs__info__block__bottom
                        input.subject__text(type="text", placeholder="YOUR SUBJECT")
                        input.company__text(type= "text", placeholder="COMPANY NAME")
                .contactUs__info_middle
                        textarea.message(placeholder="WRITE YOUR MESSAGE")
                .contactUs__info__bottom
                        a.button.button--send__msg.button--text-upercase(href="#") SEND MESSAGE
                        .information__text * We'll contact you as as possible. We don't reply on Monday
