footer.footer
    .container
        .footer__info
            .footer__circles__block
                    a.fa.fa-twitter(href="#", aria-hidden="true")
                    a.fa.fa-twitter(href="#", aria-hidden="true")
                    a.fa.fa-twitter(href="#", aria-hidden="true")
                    a.fa.fa-twitter(href="#", aria-hidden="true")
            hr.footer__line
            .footer__text © 2015 Startup, Designed by ShapedTheme