services.services
    .container
        .services__top
            .services__text__title SERVICES
            hr.service__line
            .service__about We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
    .container
        .services__bottom
            .services_num1
                .service__circle__block
                    .service__circle
                        i.fa.fa-font(aria-hidden="true")
                .services__text CLEAN TYPOGRAPHY

                .service__about2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.

            .services_num2
                .service__circle__block
                    .service__circle
                        i.fa.fa-code(aria-hidden="true")
                .services__text ROCK SOLID CODE

                .service__about2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.

            .services_num3
                .service__circle__block
                   .service__circle
                       i.fa.fa-life-ring(aria-hidden="true")
                .services__text EXPERT SUPPORT

                .service__about2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.