works.works
    .container
        .works__top
            .works__title LATEST WORKS
            hr.works__line
            .works__nav
                -var items =['All','Branding','Design','Development','Strategy']
                    each item in items
                        a.works__link(href="#")=item
    .container
        .works__bottom
            .works__top__img
                .works__img1
                    .works__hover__img
                        .works__text__title Hair Dresser
                        .works__text__info Branding
                        .works__btn VIEW
                .works__img2
                    .works__hover__img
                        .works__text__title Bird
                        .works__text__info Branding
                        .works__btn VIEW
                .works__img3
                    .works__hover__img
                        .works__text__title Workspace
                        .works__text__info Strategy
                        .works__btn VIEW
            .works__middle__img
                .works__img4
                    .works__hover__img
                        .works__text__title Camera
                        .works__text__info Design
                        .works__btn VIEW
                .works__img5
                    .works__hover__img
                        .works__text__title Bike
                        .works__text__info Branding
                        .works__btn VIEW
                .works__img6
                    .works__hover__img
                        .works__text__title Notebook
                        .works__text__info Development
                        .works__btn VIEW
            .works__bottom__img
                .works__img7
                    .works__hover__img
                        .works__text__title Office
                        .works__text__info Strategy
                        .works__btn VIEW
                .works__img8
                    .works__hover__img
                        .works__text__title Work
                        .works__text__info Development
                        .works__btn VIEW
                .works__img9
                    .works__hover__img
                        .works__text__title Card
                        .works__text__info Branding
                        .works__btn VIEW