@font-face{
  font-family: "montserrat_bold";
  src: url("../../fonts/Montserrat_Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "montserrat_regular";
  src: url("../../fonts/Montserrat_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_slab_regular";
  src: url("../../fonts/Roboto Slab Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "roboto_slab_bold";
  src: url("../../fonts/Roboto Slab Bold.ttf");
  font-weight: bold;
  font-style: normal;
}